/*
 light-blue color: #27ccc0;

 */


body {
    padding-top: 104px;
    /*padding-bottom: 20px;*/

    background: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    /*font-family: "PT Sans", sans-serif;*/
    /*font-family: "OpenSansRegular";*/
    /*font-family: 'Source Sans Pro';*/
    color: #777;

    -webkit-font-smoothing: antialiased;    

    line-height: 22px;
}

/* reset the padding for brand */
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

/* set pageheader (global) style */
.header { 
    padding: 25px;
    background: #fff;
    z-index: 9999;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);

    /* font */
    font-weight: bold;

    /* clear margin bottom  */
    margin-bottom: 0;
}

/* set nav header navigation button */
.navbar-header > button {
    /*background: #225742;*/
    /*color: #fff !important;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.navbar-header > button > .icon-bar {
    background-color: #27ccc0; 
    height: 3px;
}

/* nav list color */
.navbar-nav > .nav-item > a {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #27ccc0;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}
.navbar-nav > .nav-item.active > a {
    color: #ffd53d;
    background: none;
}
.navbar-nav > .nav-item a:hover {
    color: #ffd53d;
    background: none;
}
.navbar-nav > .nav-item a:focus {
    outline: none;
    background: none;
}
.navbar-nav > .nav-item a:active {
    outline: none;
    background: none;
}
.navbar-nav > .nav-item.active {
    color: #ffd53d;
}

/* nav mobile collapse */
@media (max-width: 767px) {
    /* set margin left, top*/
    .navbar-nav {
        margin-left: 20px;
        margin-top: 20px;        
    }

    .navbar-nav>li>a {
        line-height: 2em; 
    }
}

/* video: mejs */
.mejs-container .mejs-controls {
    display: none !important;
}

/* full width background */
.full-width-section {
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    -webkit-box-sizing: content-box!important;
    width: 100%;
    position: relative;
    z-index: 0;    
    padding: 0;
}

.bg-text-section {
    padding: 20px;
}
@media (min-width: 768px) {
    .bg-text-section {
        padding: 20px 100px
    }
}
@media (min-width: 1200px) {
    .bg-text-section {
        padding: 50px 170px;
    }
}


.title_01 {
    font-size: 50px;
    line-height: 1.2em;
    color: #FFF;
    text-shadow: 1px 1px 2px rgba(0,0,0,.3);
}
.title_02 {
    font-size: 50px;
    line-height: 1.2em;
    color: #ffbf00;
    text-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

.title_03 {
    font-size: 50px;
    line-height: 1.2em;
    color: #27ccc0;
    text-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

.title_04 {
  font-size: 50px;
  line-height: 1.2em;
  color: #FFF;
}

.title_05 {
    font-size: 50px;
    line-height: 1em;
    color: #4c4c4c;
}

.title_06 {
    font-size: 32px;
    line-height: 1em;
    color: #FFF;
    text-align: center;
}

.title_07 {
    font-size: 20px;
    line-height: 16pt;
    color: #333;
    text-align: center;
}
@media (max-width: 530px) {
    .title_01 {
        font-size: 45px;
    }
    .title_02 {
        font-size: 45px;
    }
    .title_03 {
        font-size: 45px;
    }
}
@media (max-width: 470px) {
    .title_01 {
        font-size: 35px;
    }
    .title_02 {
        font-size: 35px;
    }

    .title_03 {
        font-size: 35px;
    }
}

.content_01 {
    font-size: 22px;
    line-height: 1.64em;
    color: #FFF;
    text-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

.content_02 {
  font-size: 26px;
  line-height: 1.64em;
  color: #FFF;
}

.content_03 {
  font-size: 22px;
  line-height: 1.5em;
  color: #FFF;
}

.content_04 {
    font-size: 22px;
    line-height: 1.6em;
    color: #4c4c4c;
}

.content_05 {
    font-size: 18px;
    line-height: 1.7em;
    color: #FFF;
    text-align: center;
}

.content_06 {
    font-size: 15px;
    line-height: 18pt;
    color: #777;
    vertical-align: middle;
}

.copyright {
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  line-height: 1em;
  color: #666;
}

a.footer_link{
    font-size: 12px;
    display: block;
}
a.footer_link:visited {
  color: #FFF;
  text-decoration: none;
}
a.footer_link:link {
  color: #FFF;
  text-decoration: none;
}

.hr4:after{
    content: url(../img/line_04.png);
    height: 9px;
    display: block;
    position: relative;
    top: -22px;
}


/* the main content: press logo, ... */
#main{
    /* reset margin */
    width:100%;
    background-color: #F5F5F5; 
}

#main .row {
    margin-right: 0;
    margin-left: 0;
}

/* press logo: tc, mashable, wall street, ... thumbnail */
#press_logo {
    padding: 50px 40px 20px;
}
#press_logo .thumbnail {
    background-color: inherit;
    border: 0 solid transparent;
}

/* first block */
#block1 {
    padding: 30px 0 30px 0;
}
#block1 > div.row > div {
    padding-top:110px;
    padding-left:50px;
    padding-right:50px;
    height:660px;
    background:rgba(0%,0%,0%,0.5);
}
@media (max-width: 570px) {
    #block1 > div.row > div {
        padding-left: 30px;
        padding-right:30px;        
    }
}


/* the carousel block: swiper ; */
#blockcarousel {
    padding:0;
}

.swiper-slide[data-bg-alignment="center"] {
    background-position: center center;
}

.swiper-pagination span.swiper-pagination-bullet-active {
    background: none repeat scroll 0 0 #FFFFFF;
}

.swiper-pagination .swiper-pagination-bullet {
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 0 4px;
    width: 10px;
    transition: background-color 0.2s linear, border-color 0.2s linear;
    -moz-transition: background-color 0.2s linear, border-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear, border-color 0.2s linear;
    -o-transition: background-color 0.2s linear, border-color 0.2s linear;
}

/* swiper container content */
.swiper-container  .container, .swiper-container  .container > .row {
    height: 100%;
}
.swiper-container .content {
    color: #fff;
    z-index: 100;
    top: 40%;
}
@media (max-width: 1200px) {
    .swiper-container .content {
        top: 25%;
    }
}
@media (max-width: 768px) {
    .swiper-container .content {
        top: 20%;
    }
}

.swiper-container .content h2 {
    font-size: 60px;
    line-height: 80px;
    letter-spacing: -1px;
    display: block;
    color: #fff;
    font-weight: 100;
    font-family: "PT Sans";
    -webkit-font-smoothing: antialiased;    
}
.swiper-container .content p {
    font-weight: 100;
    letter-spacing: 0.5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    line-height: 38px;
    padding: 4px 0px;
    display: inline;
    position: relative;
    left: 10px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
    -o-box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
}

/* block 3: bg blue */
#block3 > div.row > div {
}



/* block 5: bg yellow */
#block5 > div.row > div {
}

/* block footer black bg*/
#footer_block6 ul li {
    padding: 0; 
    margin: 0;
    list-style: none;
}

/*#footer_block6 ul li:after{
    height: 19px;
    content: url(../img/line_03.jpeg);
    width: 80%;
}
*/
#footer-outer {
    color: #ccc;
    position: relative;
    z-index: 10;
    padding: 0;
    background-color: #313233;
}
#footer-outer > footer {
    padding: 20px 0px;
    font-size: 12px;
    background-color: #1f1f1f;
    border-top: 1px solid #3a3a3a;
    color: #777;
    text-align: center;
}


/* nav mobile collapse */
@media (max-width: 768px) {
    .img-footer {
        width: 100% !important; 
        height: auto !important;
    }
}