<div id="footer_block6" class="container-fluid full-width-section" style="background-color: #313233">
    <div class="row" style="padding:50px 0px;">
        <div class="col-xs-4 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-2 col-lg-offset-2 col-lg-2">
            <img class="img-footer" src="img/footer_011.jpg" style="height=165;width:264px" />
        </div>
        <div class="col-xs-4 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3 col-lg-2">
            <h4 class="copyright">FLYFIT</h4>
            <ul style="padding: 0; margin-top:20px">
                <li><a href="/index.html" class="footer_link">What it is</a>
                    <img src="img/line_03.jpeg" style="width:100%;height:auto" height="19" />
                </li>
                <li><a href="/how-it-works.html" class="footer_link">How it works</a>
                    <img src="img/line_03.jpeg" style="width:100%;height:auto" height="19" />
                </li>
                <li><a href="https://www.shopstarter.com/p/522669502/flyfit-unique-ankle-tracker-for-fitness-cycling-an/" class="footer_link">Pre-order</a>
                    <img src="img/line_03.jpeg" style="width:100%;height:auto" height="19" />
                </li>
<!--                 <li><a href="#" class="footer_link">Who we are</a>
                    <img src="img/line_03.jpeg" style="width:100%;height:auto" height="19" />
                </li>
 -->                <li><a href="#" class="footer_link">Hang with us</a>
                    <img src="img/line_03.jpeg" style="width:100%;height:auto" height="19" />
                </li>
            </ul>
        </div>
        <div class="col-xs-offset-1 col-xs-3 col-sm-2">
            <h4 class="copyright">VISIT US ON</h4>
            <a href="https://www.kickstarter.com/projects/522669502/flyfit-unique-ankle-tracker-for-fitness-cycling-an"><img class="img-footer" src="img/footer_021.jpg" style="height:75;width142"/></a>
        </div>
    </div>
</div>